/*Orden de  declracion de regla CSS (Buenas practicas)
1. Posicionamiento --> static, absolute, relative, fixed
2. Modelo de caja (Box model) --> margin, border, padding, content
3. Tipografía --> tipos, tamaños de fuente, etc
4. Estilos visuales --> box-shadow, border-radius, gradient, etc
5. Otros --> reglas CSS y más
*/

:root {
    --Bitcoin-Orange:  #F7931A;
    --Soft-Orange: #FFE9D5;
    --Secondary-Blue: #1A9AF7;
    --Soft-Blue: #E7F5FF;
    --Warm-Black:  #201E1C;
    --Black: #282623;
    --Grey: #BABABA;
    --Off-White: #FAF8F7;
    --Just-white: #fff;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}

/*Agregando estilos al header*/
header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
    min-width: 320px;
    height: 334px;
    text-align: center;
    background:  linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%); /*Degradado*/
}
/*Estilos al logo*/
header img {
    width: 150px;
    height: 24px;
    margin-top: 60px;
}
/*Estilos al div*/
.header--title-container {
    width: 90%;
    min-width: 288px; /*No va a hacerse más pequeño que 288px*/
    max-width: 900px; /*No va a crecer más que 900px*/
    height: 218px;
    margin-top: 40px;
}
/*Estilos al h1*/
h1 {
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem; /*Distancia entre salto de linea*/
    color: var(--Just-white);
}
/*Estilos al Parrafo del header*/
.header--title-container p {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--Soft-Orange);
    margin-top: 24px;
}
