/*Orden de  declracion de regla CSS (Buenas practicas)
1. Posicionamiento --> static, absolute, relative, fixed
2. Modelo de caja (Box model) --> margin, border, padding, content
3. Tipografía --> tipos, tamaños de fuente, etc
4. Estilos visuales --> box-shadow, border-radius, gradient, etc
5. Otros --> reglas CSS y más
*/

:root {
    --Bitcoin-Orange:  #F7931A;
    --Soft-Orange: #FFE9D5;
    --Secondary-Blue: #1A9AF7;
    --Soft-Blue: #E7F5FF;
    --Warm-Black:  #201E1C;
    --Black: #282623;
    --Grey: #BABABA;
    --Off-White: #FAF8F7;
    --Just-white: #fff;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}

/*Agregando estilos al header*/
header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
    min-width: 320px;
    height: 334px;
    text-align: center;
    background:  linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%); /*Degradado*/
}
/*Estilos al logo*/
header img {
    width: 150px;
    height: 24px;
    margin-top: 60px;
}
/*Estilos al div*/
.header--title-container {
    width: 90%;
    min-width: 288px; /*No va a hacerse más pequeño que 288px*/
    max-width: 900px; /*No va a crecer más que 900px*/
    height: 218px;
    margin-top: 40px;
}
/*Estilos al h1*/
h1 {
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem; /*Distancia entre salto de linea*/
    color: var(--Just-white);
}
/*Estilos al Parrafo del header*/
.header--title-container p {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--Soft-Orange);
    margin-top: 24px;
}

/*Estilos al boton del header*/
.header--title-container .header--button {
    /*Centrar algo*/
    position: absolute;
    display: inline-block;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 50%);
    /*------------------------------------------*/
    margin-top: 35px;
    padding: 15px;
    width: 229px;
    height: 48px;
    background-color: var(--Off-White);
    /*Sombra*/
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border: none;
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--Black);

}
/*Estilos al icono del boton*/
.header--button span {
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url(./assets/icons/down-arrow.svg);
}

/*Estilos a la sección de intercambio*/
.main-exchange-container {
    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 30px;
    text-align: center;
    /* margin-top: 50px; */

}

/*Estilo al main*/
main {
    width: 100%;
    height: auto;
    background-color: var(--Off-White);
    min-width: 320px;
}

/*Estilos bases a los titulos de la sección de intercambio*/
.main-exchange-container--title {
    width: 90%;
    margin: 0 auto;
    min-width: 288px;
    max-width: 900px;
}

/*Agregando la imagen de la sección de intercambio y dandole estilos*/
.main-exchange-container .backgroundImg {
    width: 200px;
    height: 200px;
    background-image: url("./assets/img/Bitcoin.svg");
    margin: 0 auto;
    margin-bottom: 50px;
    /*por buenas practicas*/
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/*Estilos al h2*/
.main-exchange-container h2 {
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--Black);
    margin-bottom: 30px;
}

/*Estilos al p de la sección de intercambio*/
.main-exchange-container p {
    margin-bottom: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6rem;
    color: #757575;
}

/*Estilos a las al contenedor de las tablas*/
.main-currency-table {
    width: 70%; 
    min-width: 235px;
    max-width: 500px;
    height: 360px;
    margin: 0 auto;
    font-family: "Inter", sans-serif;
}

/*Estilos al titulo de monedas*/
.main-currency-table .currency-table--title {
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2rem;
    color: var(--Bitcoin-Orange);
}

/*Estilos al titulo de comisiones*/
.main-currency-table .comition-table--title {
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2rem;
    color: var(--Secondary-Blue);
}

/*Estilos al contendor de la tabla*/
.currency-table--container {
    width: 90%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin:  0 auto;
}

/*Estilos a la tabla en sí*/
.currency-table--container table {
    width: 100%;
    height: 100%;

}

/*Estilos a las filas de las tablas*/
.currency-table--container td{
    width: 50%;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.9rem;
    color: var(--Grey);
    background-color: var(--Just-white);
}

/*Bordes de las tablas*/
/* Lo que se modifica son las tablas no el contenedor de esta */
.currency-table--container .table__top-left {
    border-radius: 15px 0 0 0;
}
.currency-table--container .table__top-right {
    border-radius: 0 15px 0 0;
}
.currency-table--container .table__bottom-left {
    border-radius: 0 0 0 15px;
}
.currency-table--container .table__bottom-rigth {
    border-radius: 0 0 15px 0;
}

/*Estilo al texto de la columna de los precios*/
.currency-table--container .table__right {
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.7rem;
    color: #757575;
}

/*Iconos de las tablas*/
.currency-table--container .down {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 15px;
    background-image: url("./assets/icons/trending-down.svg");
    /*por buenas practicas*/
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.currency-table--container .up {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 15px;
    background-image: url('./assets/icons/trending-up.svg');
    /*por buenas practicas*/
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/*Mensaje de actualización contenedor*/
.currency-table--date {
    margin: 0 auto;
    margin-top: 16px;
    padding: 8px;
    width: 210px;
    height: 30px;
    background-color: var(--Soft-Orange);
    border-radius: 8px;
}
/*Mensaje de actualización de la otra tabla*/
#table-date {
    background-color: var(--Soft-Blue);
}

.currency-table--date p {
    font-size: 1.2rem;
    line-height: 1.5rem ;
    font-family: "Inter", sans-serif;
    color: var(--Warm-Black);
}

/*Estilos iniciales de la sección de beneficio*/
.main-product-detail {
    position: relative;
    width: 100%;
    min-width: 320px;
    height: auto;
    padding: 20px 10px;/*Aunque el contenido tome el 100% de el contenedor habra un espacio por el padding*/
    background-color: var(--Warm-Black);
}

/*Agregando el logo de la sección*/
.product-detail--batata-logo{
    position: absolute; /*Para posicionar algo entre dos secciones*/
    width: 40px;
    height: 25px;
    background-image: url("./assets/icons/batata.svg");
    /*Centrar el logo*/
    top: -12.5px;
	left: calc(50% - 20px);
}

/*Estilos al texto inicial*/
.product-detail--title {
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
}

.product-detail--title h2 {
    margin-bottom: 20px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--Just-white);
}
.product-detail--title p {
    margin-bottom: 32px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
}

/*Estilando las laminas de información */
.product-detail--card {
    width: 90%;
    min-width: 288px;
    max-width: 400px;
    height: 150px;
    margin: 15px auto;
    padding: 15px;
    background-color: var(--Black);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);

}

.product-detail--card2{
    width: 90%;
    height: 150px;
    min-width: 288px;
    max-width: 400px;
    margin: 15px auto;
    padding: 15px;
    background-color: var(--Black);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
}

.product-detail--card2 .eye{
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url("./assets/icons/eye.svg");
    /*Ajustar la imagen*/
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 10px;

}
.product-detail--card .clock {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background-image: url("./assets/icons/clock.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat ;
}

.product--card-title {
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--Just-white);
    margin-bottom: 10px;
}

.product-detail--card2 .product--card-title2 {
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--Just-white);
    margin-bottom: 10px;
}

.product--card-body {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
}

.product-detail--card2 .product--card-body2 {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
}

.product-detail--card .dollar-sign {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url("./assets/icons/dollar-sign.svg");
    margin-bottom: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.product-detail--card .check-sign {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url("./assets/icons/check-circle.svg");
    margin-bottom: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.bitcoin-img-container {
    width: 100%;
    min-width: 320;
    height: 60vh;
    background-image: url("./assets/img/bitcoinbaby2x.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.bitcoin-img-container h2 {
    font-size: 2.4rem;
    line-height: 2.6rem;
    font-weight: bold;
    color: var(--Just-white);
    text-align: center;
    padding-top: 60px;
}

/*Estilos a la sección de planes*/
.main-plans-container {
    width: 100%;
    height: auto;
    min-width: 320px;
    padding-bottom: 70px; /*Para elejar el contenido final con el footeer*/
    text-align: center;
}

.plans--title {
    width: 90%; /*Para poder centrar el contenedor*/
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.plans--title h2 {
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--Black);
}

.plans--title p {
    margin-top: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #757575
}

.plans-container--card {
    position: relative;
    scroll-snap-align: center;
    width: 70%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 50px auto 0;
    padding: 0 15px;
    background-color: var(--Just-white);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);
}

.plans-container--card2 { 
    position: relative;
    scroll-snap-align: center;
    width: 70%;
    height: 250px;
    min-width: 230px;
    max-width: 300px;
    background-color: var(--Just-white);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);
    margin:0 auto;
    margin-top: 50px;
    padding: 0 15px;
}


.recommended {
    position: absolute;
    width: 120px;
    height: 31px;
    background-color: var(--Bitcoin-Orange);
    border-radius: 8px;
    left: calc(50% - 60px);
    top: -15px;
    font-size: 1.2rem;
    color: var(--Just-white);
    padding: 6px; 
}

.plans-container--card2 .expert {
    width: 120px;
    height: 31px;
    background-color: var(--Secondary-Blue);
    border-radius: 8px;
    color: var(--Just-white);
    font-size: 1.2rem;
    padding: 6px;
    position: absolute;
    left: calc(50% - 60px);
    top: -15px;
}



.plan-card--title {
    padding-top: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: black;
}

.plan-card--price {
    position: relative;
    padding: 5px 0;
    font-size: 5.2rem;
    font-weight: bold;
    line-height: 6.2rem;
    color: black;
}

.plan-card--price sup {
    position: absolute;
    bottom: 18px;
    left: calc(50% - 38px);
    display: inline-block;
    font-size: 1.2rem;
    font-weight: 300;
}

.plan-card--saving {
    font-size: 1.2rem;
    font-weight: 500;
    color: #757575;
}

.plan-card--ca {
    width: 150px;
    height: 48px;
    margin-top: 20px;
    background-color: #faf8f7;
    border: 2px solid var(--Bitcoin-Orange);
    border-radius: 4px;
    font-family: "DM Sans", sans-serif;
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--Black);
}

.plan-card--ca2 {
    width: 150px;
    height: 48px;
    margin-top: 20px;
    background-color: #faf8f7;
    border: 2px solid var(--Secondary-Blue);
    border-radius: 4px;
    font-family: "DM Sans", sans-serif;
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--Black);
}

.plan-card--ca span {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url("./assets/icons/orange-right-arrow.svg") ;
    vertical-align: text-bottom;
}
.plan-card--ca2 span {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url("./assets/icons/orange-right-arrow.svg") ;
    vertical-align: text-bottom;
}

/*Scroll horizontal con las tarjetas*/
.plans-container--slider {
    display: flex;
    gap: 15px;
    height: 316px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}
