/*Orden de  declracion de regla CSS (Buenas practicas)
1. Posicionamiento --> static, absolute, relative, fixed
2. Modelo de caja (Box model) --> margin, border, padding, content
3. Tipografía --> tipos, tamaños de fuente, etc
4. Estilos visuales --> box-shadow, border-radius, gradient, etc
5. Otros --> reglas CSS y más
*/

:root {
    --Bitcoin-Orange:  #F7931A;
    --Soft-Orange: #FFE9D5;
    --Secondary-Blue: #1A9AF7;
    --Soft-Blue: #E7F5FF;
    --Warm-Black:  #201E1C;
    --Black: #282623;
    --Grey: #BABABA;
    --Off-White: #FAF8F7;
    --Just-white: #fff;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}